<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<div class="w3-animate-opacity">
<br>
<br>
<br>
<center>
<br><br><br>
<h1>Pending Friend Requests</h1>
<p>Here, you can accept or deny friendship from the list of your friends whom you possibly know...</p>
<br>
 
<table class="table table-responsive"  height="80px" width="100px" >

<tr>
<th>Username</th>
<th>Profile Pic</th>
<th>Accept</th>
<th>Deny</th>
</tr>

<tr ng-repeat="p in pendingRequests">
<td><a href=#/getUserDetails/{{p.fromId}}>{{p.fromId}}</a></td>
<td><img src="http://localhost:8098/chatapprest/getimage/{{p.fromId}}"
								width="30px" height="30px" class="img-rounded"></span></a>
<td><a href="" ng-click="updatePendingRequest(p,'A')" class="btn btn-success">Accept</a></td>
<td><a href="" ng-click="updatePendingRequest(p,'D')" class="btn btn-danger">Deny</a></td>
</tr>

</table>
<li style="list-style:none;">
{{p.fromId}}
</li>
</center>
</div>

</body>
</html>