<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container">
<div class="w3-animate-opacity">
<div align="center">
<br><br><br>
<h2><strong>Profile Picture</strong></h2>
<p>You can upload your profile picture here, so that your friends can see you online</p><br><br>
        <form method="post" action="http://localhost:8098/chatapprest/doUpload" enctype="multipart/form-data">
          <strong>Choose a file to upload <i class="fa fa-upload" style="font-size:20px"></i></strong><br><br>
          <input type="file" name="image" size="50" />
          <br><br>
          <!-- <button type="button" class="btn btn-success btn-lg"><i class="fa fa-upload"></i> Upload</button> -->
          <button class="button btn btn-lg btn-primary btn-block" type="submit" ng-click="getProfilePicture()">upload</button>
        </form>
</div>
</div>
</div>

</body>
</html>