<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<br><br><br>
<div class="w3-animate-opacity">
<tr ng-repeat="p in pendingRequests">
<td><a href=#/getUserDetails/{{p.fromId}}>{{p.fromId}}</a></td>
<td><img src="http://localhost:8098/chatapprest/getimage/{{user.username}}"
								width="200px" height="200px" class="img-rounded"></span></a><br><br><br>

<b>First name: </b>{{user.firstname}}<br><br>
<b>Last name: </b>{{user.lastname}}<br><br>
<b>Email: </b>{{user.emailId}}<br><br>



<td><a href="#/home" class="btn btn-default">Back</a>
</tr>

</div>
</body>
</html>